
/*
Hoja de estilo CSS3 
Desarrollada por : Beatriz Gómez Zabala
*/


/* 
Por buenas practicas se  normaliza o elabora un reset en el css para aumentar su eficiencia y compatibilidad entre navegadores, normalmente el reset estaria aparte pero como no es un proyecto grande se deja todo en el mismo css
https://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, header, menu, nav, output,  section, summary, time, mark, audio, video, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*--------------------------------------------------------------
Menú basado en Carlos Arturo
http://www.falconmasters.com/tutoriales/como-hacer-un-menu-desplegable/
--------------------------------------------------------------*/
  body {
        font-family: 'Franklin Gothic Book', arial; /*Letra institucional  de acuerdo a la página 11 del manual institucional*/
        

        
      }

.encabezado {
  background: #FFF;
  height: 150px;
}

      
      .menu_basico {
       
        width:100%;
        height: 41px;
      
      }
      
      ul, ol {
        list-style:none;
      }
      .nav
{
   
    float: left;
    width: 100%;
     background: #005883;
     text-shadow: 4px 4px 4px #aaa; /*color institucional*/
}
      
      .nav > li {
        float:left;
      }
      
      .nav li a {
        background-color:#005883;
        color:#fff;
        text-decoration:none;
        padding:10px 12px;
        display:block;
      }
      
      .nav li a:hover {
        background-color:#F0B429;
      }
      
      .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
      }
      
      .nav li:hover > ul {
        display:block;
      }
      
      .nav li ul li {
        position:relative;
      }
      
      .nav li ul li ul {
        right:-140px;
        top:0px;
      }


/*FIN MENU*/



.logo_col {
 
margin-left: 8em;
}




.titulo-principal {
 font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: #F0B429;	
  margin: 0 0 1em;
  width: 36.6%;
float:left;
 
 
}
/*Reglas de tipo media de acuerdo a las especificaciones de:
http://librosweb.es/libro/css/capitulo_1/medios_css.html
*/

@media screen and (min-width: 44.44em) {
  .titulo-principal {
    font-size: 2em;
  }
}



.banner_derecha{


width: 33.3%;
float:left;
z-index:1;

}

.banner_izquierda{

width: 30%;
float:right;

  
}
.container {
    padding: 2px 16px;
}

/* 
 * componente card basado en w3schools   link:   http://www.w3schools.com/howto/howto_css_cards.asp
 *
*/

.card {
  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.pie_de_pagina {

 background: #005883;/*Color institucional */
   left: 0;
   bottom: 0;
   width: 100%;

}


.contenido
{

height: 475px;
text-align: justify;

}
.contenido_lectura1
{

height: 875px;
text-align: justify;

}
.contenido_multimedia
{

height: 675px;
text-align: justify;

}
.titulos
{
  font-size: 30px;
}

.col_footer
{
 width: 50%;
    background-color: #ffffff;
    float: left;
    height: 200px;
    color:#005883;/*Color institucional */

}
.copyright{

    background-color: #005883;/*Color institucional */
   
    text-align: center;
 
    color:white;

}
.ubicacion_footer{
  width: 200px;
    height: 100px;

}

.columna
{

  width: 20%;
float:left;
z-index:1;
margin-left: 4%;
margin-top: 15px;

}

.columna_autor
{

  width: 32%;

z-index:1;
margin-left: 4%;
margin-top: 15px;

}
.columna_inicio
{

  width: 64%;
float:left;
z-index:1;
margin-left: 18%;
margin-top: 15px;

}
strong, b {
    font-weight: bold;
}
.css3_imagen
{
  height:60px;
}
.imagen_autora
{
  height:120px;
}